@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

html,
body {
  font-family: 'Indie Flower', cursive;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

}

h1 {
  font-family: 'Indie Flower', cursive;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
}

h2, p, li {
  font-family: 'Indie Flower', cursive;
}

ul, li{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}


figure {
  margin-right: 20%;
  display: inline;
}

#municipio-random {
  color: #e4042b
}

#pregunta {
  margin-top: -15%;
}

.button {
  font-family: 'Indie Flower', cursive;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  margin-top: 10%;
  font-size: 15px;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 20px;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
  border-radius: 20px;
}

.button1 {
  font-size: 25px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 20px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
  border-radius: 20px;
}

.vidas {
  width: 2.5%;
}

.vidass {
<<<<<<< HEAD
  margin-left: 1%;
    margin-top: -1%;
=======
  
  margin-left: 11%;
  margin-top: -4%;
>>>>>>> b85dc818fb3a7d3f2a3b239969587bd4db772a3f
}

#titulo {
  margin-left: 40%;
  margin-top: -6%;
}

#random-div {
  float: left;
  padding: 1%;
  margin: 0;
  height: 10%;
  width: 98%;
  opacity: 100px;

}

#viewDiv {
  float: left;
  padding: 0;
  margin: 0;
  height: 89%;
  width: 70%;
  margin-top: 1%;
}

#preguntas-div, #instrucciones-div {
  float: right;
  width: 30%;
  top: 25%;
  height: 64%;
  padding: 1em;
  background-image: url("../assets/ima.jpg");
  opacity: 0,5;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
}
h2 {
  font-family: 'Bad Script', cursive;
}

#nombre-div {
  float: right;
  width: 30%;
  height: 25%;
  padding: 1em;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  margin-top: 6.3%;
  margin-left: 70%;
  padding-top: 2%;
  left: 0;
  top: 0;
  width: 30%;
  /* Full width */
  height: 80%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1);
  /* Black w/ opacity */
  font-family: 'Roboto', sans-serif;

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: 'Roboto', sans-serif;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button3 {
  font-size: 25px;
  background-color: #4CAF50;
  color: white;
  left: 45%;
<<<<<<< HEAD
  margin-top: 0%;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  height: 7%;
  position: absolute;

=======
>>>>>>> b85dc818fb3a7d3f2a3b239969587bd4db772a3f
}

.button3:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
}

.modal-inicio {
  /* display: none; Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  font-family: 'Bad Script', cursive;


}
.esri-widget{
  color: #000;
}

/* Modal Content/Box */
.modal-content-inicio {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
<<<<<<< HEAD
  font-family: 'Bad Script', cursive;
  border-radius: 20px;
  background-image: url("../assets/ima.jpg");
  
}
=======
}

>>>>>>> b85dc818fb3a7d3f2a3b239969587bd4db772a3f
.modal-content #ficha{
  width: 100%;
  height: 100%;
}
<<<<<<< HEAD

#text{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
}
/*.swal-overlay--show-modal .swal-modal {
  background-image: url("../assets/ima.jpg");
}*/ 
=======
>>>>>>> b85dc818fb3a7d3f2a3b239969587bd4db772a3f
